<nav class="navbar navbar-default navbar-fixed-top classic-navbar" role="banner"><div class="backButton" ng-click="back()" ng-show="previousButton">
        <span class="fui-arrow-left animated fadeIn btn" aria-hidden="true"></span>
    </div>
    <div class="backButton" ng-click="back()" ng-show="closeButton">
        <span class="glyphicon glyphicon-remove animated fadeIn btn" aria-hidden="true"></span>
    </div>
    <div>
        <h2 class="title">{{::appName}}</h2>
    </div>
</nav><div class="content">
    <div class="container-fluid">
        <div id="body" class="zone" ng-controller="keosu-contact-usController" ng-init='init({"host":"http:\/\/localhost\/keosu\/web\/app_dev.php\/","gadgetId":6,"pageId":4,"gadgetParam":{"name":"E N P F M C A","presentation":"Etablissement National pour la Promotion des Festivals et des Manifestations Culturelles et Artistiques","pictureId":null,"address":"Monplaisir, Tunis, 1002","phone":"71000111","email":"contact@enpfmca.nat.tn"},"appParam":[]})'><div class="gadget-content contact-us">
	<div class="row-fluid">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<img class="center" ng-if="image" ng-src="{{ image }}" alt="" />
			<h1>{{ name }}</h1>
			<h5>{{ presentation }}</h5>
			<br />
			<span ng-if="address" class="glyphicon glyphicon-home" aria-hidden="true"></span>
			<h6>{{ address }}</h6><br />
			<span ng-if="phone" class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
			<h6>{{ phone }}</h6><br />
			<span ng-if="email" class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
			<h6 ><a ng-href="mailto:{{email}}">{{ email }}</a></h6>
		</div>
	</div>
</div></div>
    </div>
</div>

<div class="offline">
    <div ng-show="{{offline}}">Network unreachable</div>
</div>

<footer id="menu" class="zone classic-menu navbar-fixed-bottom" ng-controller="keosu-menuController" ng-init='init({"host":"http:\/\/localhost\/keosu\/web\/app_dev.php\/","gadgetId":1,"pageId":4,"gadgetParam":{"menu-id":3},"appParam":[]})'><div ng-controller="keosu-menuController" class=" row-fluid menu">
	<div ng-repeat="page in pages" class="menu-elements">
        <div class="menu-item-container">
			<a class="lien-menu-bar"  href="#/Page/{{ ::page.id }}">
				<img class="image-menu-bar" ng-src="{{ getPath(page.icon, page.iconActive,page.id) }}"  ng-class="getClass(page.id)"/>
                </br>
				<span class="page-name-menu" ng-bind="page.name"></span>
			</a>
		</div>
	</div>
</div></footer>